export(
   igvShiny,
   igvShinyOutput,
   renderIgvShiny,
   showGenomicRegion,
   getGenomicRegion,
   loadBedTrack,
   loadBedGraphTrack,
   loadSegTrack,
   loadVcfTrack,
   loadGwasTrack,
   removeTracksByName,
   removeUserAddedTracks,
   redrawIgvWidget
   )
